
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.header {
    height: 8vh;
    background-color: rgba(0,0,0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    height: 92vh;
    width: 100%;
}

#editArea {
    position: absolute;
    inset: 0;
    width: 100%;
    padding: 4em;
    margin: 0;
    resize: none;
    outline: 0;
    border: 0;
}

#editArea:focus {
    outline: 0;
    border: 0;
}

#result {
    position: absolute;
    inset: 0;
    width: 100%;
    height: calc(92vh);
    padding: 2em;
    margin: auto;
    resize: none;
}

#fontFamilyPicker .btn:first-child {
    font-weight: bold;
}


.color-grid .grid-tile {
    width:  60px;
    height: 60px;
    background-color: teal;
    border-radius: 10px;
}

.image-grid .grid-tile {
    background-size: cover;
    background-position: center;
    width:  140px;
    height: 90px;
    background-color: teal;
    border-radius: 10px;
}

.custom-out {
    border: 1px dashed red;
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strikethrough {   text-decoration: line-through; }
